/* main {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
} */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;

}

#fishList {
    flex-wrap: wrap;
    display: flex;
    max-width: 682px; 
    justify-content: start;
    border: solid blue 10px;
    margin-bottom: 250px;
    /* flex-grow: 50%; */
    margin-top: 20px;
    
    
    
}

/* #tipList {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    border: solid red 2px;
    justify-content: center;
    flex-grow: 50%;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 150px;
    flex-direction: column-reverse;
    margin-right: auto;

} */

#locationList {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    border: solid black 2px;
    margin-top: -200px;
    /* flex-grow: 50%; */
    /* margin-right: auto; */
    /* margin-right: auto; */
    justify-content: end;
    gap: 5px;
    margin-bottom: -200px;
    /* padding-bottom: 100px; */
    /* max-block-size: 30%; */
   
}

#tipList {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px; 
    border: solid red 2px;
    justify-content: center; 
    /* flex-grow: 50%; */
    
    margin-top: 20px;
    padding-bottom: 250px; 
    /* margin-bottom: auto; */
    margin-left: auto;  
    /* max-height: 100%; */
    
    

}

